@reference "tailwindcss";
.richtext {
	@apply text-lg leading-relaxed;
}

.richtext p,
.richtext ul,
.richtext ol,
.richtext blockquote {
	@apply my-6;
}

.richtext h2 {
	@apply text-3xl mt-12 mb-4 leading-snug;
}

.richtext h3 {
	@apply text-2xl mt-8 mb-4 leading-snug;
}

.richtext h4 {
	@apply text-xl mt-6 mb-4 leading-snug;
}

.richtext a {
	@apply underline;
}
